PennyLane==0.29.0
pennylane-lightning==0.30.0
numpy==1.23.5
torch==1.13.1
torchvision==0.14.1
torchmetrics==0.11.4
pandas==1.5.1
matplotlib==3.7.2
seaborn==0.12.2
scikit-learn==1.1.3
scipy==1.15.3
tqdm==4.64.1
einops==0.6.0
piqa==1.3.1
qW-Map==0.1.2
qiskit-aer==0.11.2
qiskit-machine-learning==0.5.0
qiskit-terra==0.24.0
ray==2.9.3  
tensorboard==2.13.0
sympy==1.14.0
appdirs==1.4.4
toml==0.10.2